body{
    font-family: Arial;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-bottom: 8px;
    font-size: 24px;
}
nav{
    background-color: #9bcff3;
    margin-bottom: 5px;
}

nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    padding: 0.8em 1em;
    border-right: 1px solid #717171
}
nav a.active{
    background-color: #59b6ea;
}
nav a:hover{
    background-color: #0bb7f5;
}

.container{
    padding: 0 20px;
}

.gpio-button{
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    border: 5px solid white;
    box-shadow: 0 0 5px #484848;
    cursor: pointer;
    margin: 5px;
}
.gpio-button::after{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
    content: '';
}
.gpio-button.on{
    background-color: #99ecb6;
}
.gpio-button.on:hover{
    background-color: #89e2a8;
}
.gpio-button.off{
    background-color: #f39494;
}
.gpio-button.off:hover{
    background-color: #ff8484
}
.gpio-button span{
    color: white;
    display: inline-block;
    vertical-align: middle;
    text-shadow: 1px 1px 2px #000, 1px 1px 1px #90A2B6;
    line-height: 1.33;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}
input {
    height: 24px;
    line-height:24px;
    margin-bottom: 12px;
    border-color: #515151;
}
label {
    font-size: 24px;
    margin-bottom: 6px;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    nav a{
        /*padding: 12px 20px;*/
        font-size: 20px;
    }
    .gpio-button{
        display: block;
        width: 320px;
        height: 320px;
        margin: 5px auto;
    }
    .gpio-button span{
        font-size: 32px;
    }
    input {
        font-size:32px;
        height: 48px;
        line-height: 48px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
    nav a{
        /*padding: 10px 16px;*/
        font-size: 2em;
    }
    .container{
        text-align: center
    }
    .gpio-button{
        width: 320px;
        height: 320px;
    }
    .gpio-button span{
        font-size: 32px;
    }
    input{
        font-size: 32px;
        height: 48px;
        line-height: 48px;
    }
}
@media only screen and (min-width: 1025px){
    .gpio-button{
        width: 200px;
        height: 200px;
    }
    .gpio-button span{
        font-size: 24px;
    }
}
